<form>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" routerLink="/admin/view">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember">Remember Me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" routerLink="">Cancel</button>
    <span class="password">Forgot <a [routerLink]="">password?</a>
    </span>
  </div>
</form>
